<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Homepage</h1>
    
    <!-- Wyświetlanie wiadomości flash -->
    <ul>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </ul>

    <p><a href="{{ url_for('login') }}">Login</a></p>
    <p><a href="{{ url_for('change_password') }}">Change Password</a></p>
</body>
</html>